{%extends "base.html"%} {%block content %}
<h1>Hola {{current_user.username}}, cómo estas?</h1>

<div>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}
	</style>
	<h2>Lista de todos los Accesos</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Horario</th>
				<th>Fue autorizado?</th>
				<th>Nombre del empleado</th>
				<th>Puerta</th>
				<th>Nota de la puerta</th>
			</tr>
		</thead>
		<tbody>
			{%for access in accesses%}
			<tr>
				<td>{{access.id}}</td>
				<td>{{access.timestamp}}</td>
				<td>{{access.authorized}}</td>
				<td>{{access.employee.name}}</td>
				<td>{{access.door.id}}</td>
				<td>{{access.door.note}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{%endblock%}
