{%extends 'base.html'%} {% block content%}

<body>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}
	</style>
	<h1>Lista de todos los empleados</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>DNI</th>
				<th>Nivel de acceso</th>
				<th>RFID</th>
			</tr>
		</thead>
		<tbody>
			{%for employee in employees%}
			<tr>
				<td>{{employee.id}}</td>
				<td>{{employee.name}}</td>
				<td>{{employee.dni}}</td>
				<td>{{employee.access_level}}</td>
				<td>{{employee.rfid}}</td>
				<td>
					<a href="/delete_employee/{{employee.id}}">Borrar</a>
					<br />
					<a href="/edit_employee/{{employee.id}}">Editar</a>
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</body>

{%endblock%}
