{%extends "base.html"%} {%block content%}
<h1>Accesos de {{employee.name}}</h1>
<div class="table-responsive">
	<table class="table table-bordered table-hover table-responsive">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Horario</th>
				<th>Fue autorizado?</th>
				<th>Puerta</th>
				<th>Nota de la puerta</th>
			</tr>
		</thead>
		<tbody>
			{%for access in accesses%}
			<tr>
				<td>{{access.id}}</td>
				<td>{{access.timestamp}}</td>
				<td>{{access.authorized}}</td>
				<td>{{access.door.id}}</td>
				<td>{{access.door.note}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{%endblock%}
